#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* SLIDER BOX */
.slider {
  position: relative;
  width: 70%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(77,163,255,0.8);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}